@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 98.7vw;
    height: 100vh;
    background: #030328  url('../images/background.jpg') top center repeat;
    background-size: cover;
    font-family: 'gilroy-regular-400', sans-serif;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #0000004D;
    padding: 1px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-ul{
    margin: 8px 0;
}

.nav-li{
    display: inline-block;
    list-style: none;
    color: white;
    margin: 0 10px;
    font-size: 0.8em;
    font-family: 'gilroy-bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.nav-li:hover{
    cursor: pointer;
}

#stream-now{
    background-color: #B535F6;
    padding: 10px 25px;
    border-radius: 50px;
    transition: .3s ease;
}

#stream-now:hover{
    background-color: transparent;
    outline: 3px solid white;
    color: white;
    cursor: pointer;
}

.logo{
    max-width: 8.4vw;
}

main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 20%;
    color: white;
}

main h2{
    max-width: 600px;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

main p{
    max-width: 600px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.8px;
}

button{
    border: none;
    color: #030328;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    padding: 18px 25px;
    border-radius: 50px;
    letter-spacing: 4px;
    margin-top: 60px;
    transition: .4s ease;
}

button:hover{
    background-color: transparent;
    outline: 3px solid white;
    color: white;
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    top: 90%;
    font-size: 12px;
    line-height: 19px;
    padding: 30px;
    background-color: #030328;
    color: #9080F2;
}

li{
    list-style: none;
    margin-bottom: 20px;
}

.footer-top ul{
    display: flex;
    justify-content: center;
}

.footer-top li{
    font-weight: bold;
    letter-spacing: 3px;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 15px;
}

.footer-middle ul{
    display: flex;
    justify-content: center;
}

.footer-middle li{
    display: inline-block;
    text-transform: capitalize;
    margin: 0px 15px 15px 15px;
}

.footer-bottom p{
   text-align: center;
}

footer li:hover{
    transition: .3s ease;
    color: white;
    cursor: pointer;
}

/* Responsividade */

@media only screen and (max-width: 600px){
    
    .nav-li{
        font-size: 10px;
    }

    main{
        min-height: 90vh;
        padding-left: 0px;
    }

    main h2{
        font-size: 20px;
        margin-bottom: 8px;
    }

    main p{
        font-size: 16px;
    }

    footer{
        font-size: 12px;
        padding: 20px;
    }


    footer li, p{
        font-size: 8px;
        padding: 0px;
    }

    .footer-top li{
        font-size: 10px;
    }

}

@media only screen and (max-width: 992px){

    .logo{
        max-width: 18vw;
    }

    main{
        min-height: 100vh;
        padding-left: 10%;
    }

    main h2{
        font-size: 35px;
        margin-bottom: 8px;
    }

    button{
        margin-top: 40px;
        font-size: 1em;
        padding: 15px 23px;
    }
}

