@charset "UTF-8";

:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: auto;
    overflow-x: hidden;
    width: 98.7vw;
    height: 100vh;
    background: #030328  url('../images/background.jpg') top center repeat;
    background-size: cover;
    font-family: 'gilroy-regular-400', sans-serif;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #0000004D;
    padding: 0.1rem 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-ul{
    margin: 0.8rem 0;
}

.nav-li{
    display: inline-block;
    list-style: none;
    color: white;
    margin: 0 0.1rem;
    font-size: 1.1rem;
    font-family: 'gilroy-bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-left: 2rem;
}

.nav-li:hover{
    cursor: pointer;
}

#stream-now{
    background-color: #B535F6;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    transition: .3s ease;
    margin-right: 2rem;
}

#stream-now:hover{
    background-color: transparent;
    outline: 2px solid white;
    color: white;
    cursor: pointer;
}

.logo{
    max-width: 16rem;
    max-height: 2.7rem;
}

main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: white;
}

main h2{
    max-width: 60rem;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}

main p{
    max-width: 60rem;
    font-size: 2rem;
    line-height: 3.2rem;
    letter-spacing: 0.8px;
}

button{
    border: none;
    color: #030328;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;
    padding: 1.8rem 2.5rem;
    border-radius: 5rem;
    letter-spacing: .4rem;
    margin-top: 6rem;
    transition: .3s;
}

button:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    top: 90%;
    font-size: 1.2rem;
    line-height: 1.9rem;
    padding: 3rem;
    background-color: #030328;
    color: #9080F2;
}

li{
    list-style: none;
    margin-bottom: 2rem;
}

.footer-top ul{
    display: flex;
    justify-content: center;
}

.footer-top li{
    font-weight: bold;
    letter-spacing: .3rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 1.5rem;
}

.footer-middle ul{
    display: flex;
    justify-content: center;
}

.footer-middle li{
    display: inline-block;
    text-transform: capitalize;
    margin: 0px 1.5rem 1.5rem 1.5rem;
}

.footer-bottom p{
   text-align: center;
}

footer li:hover{
    transition: .3s ease;
    color: white;
    cursor: pointer;
}

